:host {
  display: flex;
  position: relative;
  flex-grow: 1;
  height: 100%;

  nav {
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(47, 22, 22);
    max-height: 100%;
    overflow-y: auto;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    scroll-snap-type: y;
  }
}
