<scrollable-nav [formGroup]="formGroup">
  <pane style="background: pink" label="First Thing" id="firstThing">
    <label>
      Name:
      <input type="text" formControlName="name" />
    </label>
  </pane>
  <pane style="background: lightgreen" label="Second Thing" id="secondThing">
    <label>
      Favorite Color:
      <input type="text" formControlName="favoriteColor" />
    </label>
  </pane>
  <pane
    style="background: rgb(255, 255, 205)"
    label="Third Thing"
    id="thirdThing"
  >
    <label>
      City:
      <input type="text" formControlName="city" />
    </label>
  </pane>
  <pane label="Fourth Thing" id="fourthThing" style="background: lightblue">
    Fourth Thing</pane
  >
  <pane
    label="Fifth Thing"
    id="fifthThing"
    style="background: rgb(255, 199, 94)"
  >
    Fifth Thing</pane
  >
</scrollable-nav>
